import logging
from aiogram import Bot, Dispatcher, types
from aiogram.contrib.fsm_storage.memory import MemoryStorage
from aiogram.dispatcher import FSMContext
from aiogram.dispatcher.filters import Command
from aiogram.dispatcher.filters.state import State, StatesGroup
from aiogram.types import ReplyKeyboardMarkup, KeyboardButton

BOT_TOKEN = '6662127186:AAGwT1BCR12jRKBTACReWz4xkY09xneAaPE'

logging.basicConfig(level=logging.INFO)


bot = Bot(token=BOT_TOKEN)
storage = MemoryStorage()
dp = Dispatcher(bot, storage=storage)

class Form(StatesGroup):
    name = State()
    language = State()



@dp.message_handler(commands=['start'])
async def cmd_start(message: types.Message):
    await Form.name.set()
    await message.reply("Привіт! Як вас звати?")



@dp.message_handler(state=Form.name)
async def process_name(message: types.Message, state: FSMContext):
    async with state.proxy() as data:
        data['name'] = message.text
    await Form.next()
    await message.reply("Здорово! Яку мову програмування ви хочете вивчати?",
                        reply_markup=ReplyKeyboardMarkup(
                            keyboard=[
                                [KeyboardButton(text='Python')],
                                [KeyboardButton(text='JavaScript')],
                                [KeyboardButton(text='C++')],

                            ],
                            one_time_keyboard=True
                        ))



@dp.message_handler(state=Form.language)
async def process_language(message: types.Message, state: FSMContext):
    async with state.proxy() as data:
        data['language'] = message.text

        #
        #

        await message.reply("Круто, ви вибрали{}!".format(data['language']))

    @dp.message_handler(commands=['запис'])
    async def subscribe(message: types.Message):
        user_id = message.from_user.id
        #

        #
        await message.reply("Ведіть дату та місяць як дд/мм/рр")

    #
    @dp.message_handler()
    async def echo(message: types.Message):
        #
        await message.reply("Ви усішно записанні на заняття, гарного дня, дякую що вибрали нашу школу!")

    #
    await state.finish()


if __name__ == '__main__':

    from aiogram import executor
    executor.start_polling(dp, skip_updates=True)
